body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 16px;
}

.title {
    font-size: 72px;
}

.board {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 8px;
}

.cell {
    background-color: lightgrey;
    width: 250px;
    height: 250px;
}

.restart {
    background-color: gray;
    padding: 12px;
}