body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.board {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 8px;
}

.cell {
    background-color: lightgrey;
    width: 250px;
    height: 250px;
}