body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 16px;
}

.title-container {
    display: flex;
    gap: 24px;
    font-size: 72px;
}

#score-1 {
    color: blue;
}

#score-2 {
    color: red;
}

.player-selection-container {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.selector {
    display: flex;
    flex-direction: column;
}

.board {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 8px;
}

.cell {
    background-color: lightgrey;
    width: 250px;
    height: 250px;
}

.restart {
    /* color: white; */
    background-color: darkgray;
    padding: 12px;
}

.message {
    font-size: 32px;
    height: 40px;
}